/* Dashboard */

.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard span{
  margin: 2em 0;
  font-weight: 600;
  font-size: 1.2em;
}

/* Botão New */

.new{
  float: right;
  margin-bottom: 1.5em;
  background-color: #83bf02;
  color: #FFF;
  border:0;
  padding: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.9em;
  border-radius: 6px;
  transition: ease-in 0.2s;
}

.new svg{
  margin-right: 5px;
}

.new:hover{
  background-color: #5fd204;
  transform: scale(1.1);
}

/* Accordion */

.div-accordion{
  border: 1px solid #e2e8f0;
  padding: 15px;
  border-radius: 10px;
  margin-top: 50px;
}

.AccordionButton{
  color: #fff;
  background-color: #181c2eda;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span-info{
  display: flex;
  margin-left: 20px;
  width: 300px;
  align-items: center;
}

.span-data{
  gap: 3px;
}

.div-buttons{
  background-color: #181c2eda;
  display: flex;
  align-items: center;
}

.action{
  height: 25px;
  padding: 5px;
  margin-right: 7px;
  align-items: center;
  display: inline-block;
  border-radius: 4px;;
}

.action svg{
  vertical-align: middle;
}

@media screen and (max-width: 600px){
}