/*Dashboard*/

.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard span{
  margin: 2em 0;
  font-weight: 600;
  font-size: 1.2em;
}

/* Botão New */

.new{
  float: right;
  margin-bottom: 1.5em;
  background-color: #83bf02;
  color: #FFF;
  border:0;
  padding: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.9em;
  border-radius: 6px;
  transition: ease-in 0.2s;
}

.new svg{
  margin-right: 5px;
}

.new:hover{
  background-color: #5fd204;
  transform: scale(1.1);
}

.Accordion{
  margin-bottom: 10px;
}

.testeAction{
  background-color: rgba(203, 213, 225, 0.603);
  display: flex;
  align-items: center;
}

.divInfo{
  display: flex;
}

.spanInfo{
  display: flex;
  margin-left: 20px;
  width: 200px;
  align-items: center;
}

.spanData{
  gap: 3px;
}

.spanUser{
  gap: 3px;
}

.h2teste:hover{
  background-color: rgba(0, 0, 0, 0.04);
}

.div-accordion{
  border: 1px solid #e2e8f0;
  padding: 15px;
  border-radius: 10px;
  margin-top: 50px;
}

.teste{
  width: 1000px;
}

.AccordionDiv{
  margin-bottom: 5px;
}

.AccordionIcon{
  width: 30px;
}

.AccordionButton{
  background-color: rgba(203, 213, 225, 0.603);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AccordionItem{
  color: black;
  width: 100%;
  display: block;
}

.AccordionItem h2{
  display: flex;
}

.AccordionBox{
  display: flex;
}

.teste{
  display: flex;
  justify-content: space-between;
}

.action{
  height: 25px;
  padding: 5px;
  margin-right: 7px;
  align-items: center;
  display: inline-block;
  border-radius: 4px;;
}

.action svg{
  vertical-align: middle;
}

.btn-more{
  margin: 1.5em 0;
  padding:  .5em 1em;
  height: 35px;
  border:0;
  border-radius: 5px;
  background-color: #181c2e;
  color: #FFF;
  font-size: 1.1em;
}

@media screen and (max-width: 600px){
  table{
    border: 0;
  }

  table caption{
    font-size: 1.3em;
  }

  table thead{
    border:none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr{
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .65em;
  }

  table td{
    border-bottom: 1px solid #DDD;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before{
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child{
    border-bottom: 0;
  }

}